{% extends "base.html" %}

{% block cuerpo %}
<iiv class="row">

<div class="col-md-4 offset-md-4">
<!-- La targeta card -->
<div class="card"> <!-- targeta -->
    <div class="card-body">
        <form action="/editarVentas/" method="POST"> {% csrf_token %} <!--- formulario -->
        
            <div class="form-group">
                <input type="text" id="id_venta" name="id_venta" class="form-control"
                value="{{misVentas.id_venta}}" placeholder="ID de venta" minLenght="1" maxLenght="10"  required>
            </div>

            <div class="form-group">
                <input type="text" id="numid_libro" name="numid_libro" class="form-control"
                value="{{misVentas.id_producto}}" placeholder="ID del producto" minLenght="1" maxLenght="10"  required>
            </div>

            <div class="form-group py-2">
                <input type="date" id="datefecha" name="datefecha" class="form-control"
                value="{{fecha_venta}}" placeholder="Fecha de venta" max="50" required>
            </div>

            <div class="form-group py-2">
                <input type="number" id="numcantidad" name="numcantidad" class="form-control"
                value="{{misVentas.cantidad}}" placeholder="Cantidad" max="50" required>
            </div>

            <div class="form-group py-2">
                <input type="text" id="numprecio" name="numprecio" class="form-control"
                value="{{misVentas.precio}}" placeholder="Precio" max="20" required>
            </div>

            <div class="form-group py-2">
                <input type="text" id="id_cliente" name="id_cliente" class="form-control"
                value="{{misVentas.id_cliente}}" placeholder="Id del cliente" max="50" minLenght="1" maxLenght="10" required>
            </div>

            <div class="form-group py-2">
                <input type="text" id="id_empleado" name="id_empleado" class="form-control"
                value="{{misVentas.id_empleado}}" placeholder="Id del empleado" max="100" required>
            </div>

            <div class="form-group py-2">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form><!--- formulario -->
    </div>
</div> <!-- targeta -->


<!-- La targeta card -->

</div><!-- columna -->

</div><!-- La fila -->

{% endblock %}