{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class="row"><!-- la fila -->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!-- columna izquierda -->
        <h1> Ropa </h1>
    <div class="card"> <!-- targeta -->
        <div class="card-body">
            <form action="/registrarProductos/" method="POST"> {% csrf_token %} <!--- formulario -->
            
                <div class="form-group">
                    <input type="text" id="numid_producto" name="numid_producto" class="form-control"
                    value="{{misProductos.id_producto}}" placeholder="ID del producto" minLenght="1" maxLenght="10"  required>
                </div>
    
                <div class="form-group py-2">
                    <input type="text" id="txtnombre" name="txtnombre" class="form-control" 
                    value="{{misProductos.nombre}}" placeholder="Nombre del producto" maxLenght="50" required>     
                </div>
    
                <div class="form-group py-2">
                    <input type="text" id="txtmarca" name="txtmarca" class="form-control"
                    value="{{misProductos.marca}}" placeholder="Marca del producto" max="50" required>
                </div>
    
                <div class="form-group py-2">
                    <input type="text" id="txttela" name="txttela" class="form-control"
                    value="{{misProductos.tela}}" placeholder="Tela del producto" max="20" required>
                </div>
    
                <div class="form-group py-2">
                    <input type="text" id="numtalla" name="numtalla" class="form-control"
                    value="{{misProductos.talla}}" placeholder="talla del producto" max="50" required>
                </div>
    
                <div class="form-group py-2">
                    <input type="text" id="numprecio" name="numprecio" class="form-control"
                    value="{{misLibros.precio}}" placeholder="Precio del producto" max="50" minLenght="1" maxLenght="10" required>
                </div>
    
                <div class="form-group py-2">
                    <input type="number" id="numstock" name="numstock" class="form-control"
                    value="{{misLibros.stock}}" placeholder="Stock del producto" max="100" required>
                </div>
    
                <div class="form-group py-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form><!--- formulario -->
        </div>
    </div> <!-- targeta -->
    </div><!-- columna izquierda -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"><!-- columna derecha -->
    <h1>Listado de Productos</h1>
    <img class="w-50" src="{%static "img/pantalon.jpg"%}" alt="noimg" width="400" height="400"/>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">id_li</th>
            <th scope="col">titulo</th>
            <th scope="col">autor</th>
            <th scope="col">ilustrador</th>
            <th scope="col">año</th>
            <th scope="col">precio</th>
            <th scope="col">stock</th>
            <th colspan="2">EDITAR - BORRAR</th>
        </tr>
        </thead>
        <tbody>
            {% for m in misProductos %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{m.id_producto}}</td>
                    <td>{{m.nombre}}</td>
                    <td>{{m.marca}}</td>
                    <td>{{m.tela}}</td>
                    <td>{{m.talla}}</td>
                    <td>{{m.precio}}</td>
                    <td>{{m.stock}}</td>
                    <td> <a href="seleccionarProductos/{{m.id_producto}}" class="btn btn-info">Editar</a> </td> <!-- Falta link -->
                    <td> <a href="borrarProductos/{{m.id_producto}}" class="btn btn-danger">Borrar</a> </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
</div.table.responsive>
    </div> <!-- columna derecha -->
</div><!-- la fila -->



{% endblock %}