{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class="row"><!-- la fila -->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!-- columna izquierda -->
        <h1> Sucursales </h1>
    <div class="card"> <!-- targeta -->
        <div class="card-body">
            <form action="/registrarSucursal/" method="POST"> {% csrf_token %} <!--- formulario -->
            
                <div class="form-group">
                    <input type="text" id="id_sucursal" name="id_sucursal" class="form-control"
                    value="{{misSucursal.id_sucursal}}" placeholder="ID de Sucursal" minLenght="1" maxLenght="100"  required>
                </div>
    
                <div class="form-group">
                    <input type="text" id="txtdireccion" name="txtdireccion" class="form-control"
                    value="{{misSucursal.txtdireccion}}" placeholder="Direccion" minLenght="1" maxLenght="100"  required>
                </div>
    
                <div class="form-group py-2">
                    <input type="text" id="numtelefono" name="numtelefono" class="form-control"
                    value="{{misSucursal.numtelefono}}" placeholder="Telefono" max="14" required>
                </div>
    
                <div class="form-group py-2">
                    <input type="text" id="txtcorreo" name="txtcorreo" class="form-control"
                    value="{{misSucursal.txtcorreo}}" placeholder="Correo" required>
                </div>
    
                <div class="form-group py-2">
                    <input type="number" id="numstock" name="numstock" class="form-control"
                    value="{{misSucursal.numstock}}" placeholder="Stock" max="2000" required>
                </div>
    
                <div class="form-group py-2">
                    <input type="number" id="numempleados" name="numempleados" class="form-control"
                    value="{{misSucursal.numempleados}}" placeholder="Numero de empleados" max="50" minLenght="1" maxLenght="10" required>
                </div>
    
                <div class="form-group py-2">
                    <input type="text" id="txthorario" name="txthorario" class="form-control"
                    value="{{misSucursal.txthorario}}" placeholder="Horario" max="100" required>
                </div>
    
                <div class="form-group py-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form><!--- formulario -->
        </div>
    </div> <!-- targeta -->
    </div><!-- columna izquierda -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"><!-- columna derecha -->
    <h1>Listado de Sucursales</h1>
    <img class="w-50" src="{%static "img/sucursal.jpg"%}" alt="noimg" width="400" height="400"/>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">id_sucursal</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo</th>
            <th scope="col">Stock</th>
            <th scope="col">Empleados</th>
            <th scope="col">Horario</th>
            <th colspan="2">EDITAR - BORRAR</th>
        </tr>
        </thead>
        <tbody>
            {% for m in misSucursal %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{m.id_sucursal}}</td>
                    <td>{{m.txtdireccion}}</td>
                    <td>{{m.numtelefono}}</td>
                    <td>{{m.txtcorreo}}</td>
                    <td>{{m.numstock}}</td>
                    <td>{{m.numempleados}}</td>
                    <td>{{m.txthorario}}</td>
                    <td> <a href="seleccionarSucursal/{{m.id_sucursal}}" class="btn btn-info">Editar</a> </td> <!-- Falta link -->
                    <td> <a href="borrarSucursal/{{m.id_sucursal}}" class="btn btn-danger">Borrar</a> </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
</div.table.responsive>
    </div> <!-- columna derecha -->
</div><!-- la fila -->



{% endblock %}